dj-database-url==0.5.0
-e git://github.com/hersonls/djamin.git@5b5887c84341065844ab44b6cfc8ccb865ccfdb9#egg=djamin
Django==2.0.7
django-heroku==0.3.1
django-jet==1.0.7
feedparser==5.2.1
google-api-python-client==1.4.1
gunicorn==19.9.0
httplib2==0.11.3
oauth2client==4.1.2
psycopg2==2.7.5
pyasn1==0.4.3
pyasn1-modules==0.2.2
python-decouple==3.1
python-dotenv==0.8.2
pytz==2018.5
rsa==3.4.2
six==1.11.0
uritemplate==3.0.0
whitenoise==3.3.1
