/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a, nav .brand-logo {
  color: #d4c470;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #d4c470;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.sidenav-overlay {
   z-index: 996;
}

.card .card-image img {
    height: auto;
}

.cc-breadcrumb {
    background-color: #72673b;
}

.teal {
    background-color: #5a512b !important;
}

.btn, .btn-large, .btn-small {
    background-color: #5a512b;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #8b823d;
}