{% load static %}
{% load parceiros_extras %}
<div class="navbar-fixed">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{% url 'home_parceiros' %}" class="brand-logo">
          <img src="{% static "images/casa-conceito-logo.png" %}" alt="Casa Conceito" style="padding-top: 16px;">
      </a>
      <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
            <li><a href="{% url 'home_parceiros' %}">Dashboard</a></li>
            {% if user.is_superuser %}
                <li><a href="{% url 'lista_indicacoes' %}">Todas Indicações</a></li>
            {% else %}
                <li><a href="{% url 'lista_indicacoes' %}">Minhas Indicações</a></li>
            {% endif %}
            {% if request.user|has_group:"Corretor" %}
                <li><a href="{% url 'adiciona_indicacao' %}">Nova Indicação</a></li>
            {% else %}

            {% endif %}
            <li style="color: #c3b945;">Olá {{ user.get_username }}</li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        {% if user.is_authenticated %}
            <li><a href="{% url 'home_parceiros' %}">Dashboard</a></li>
            {% if user.is_superuser %}
                <li><a href="{% url 'lista_indicacoes' %}">Todas Indicações</a></li>
            {% else %}
                <li><a href="{% url 'lista_indicacoes' %}">Minhas Indicações</a></li>
            {% endif %}
            {% if request.user|has_group:"Corretor" %}
                <li><a href="{% url 'adiciona_indicacao' %}">Nova Indicação</a></li>
            {% else %}

            {% endif %}
            <li><a href="#">{{ user.get_username }}</a></li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        {% endif %}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>