{% extends "base_generic.html" %}

{% block breadcrumb %}
    <nav class="cc-breadcrumb">
    <div class="container">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'home_parceiros' %}" class="breadcrumb">Dashboard</a>
        <a href="{% url 'lista_indicacoes' %}" class="breadcrumb">Minhas Indicações</a>
      </div>
    </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
    <div class="responsive-table">
    <table class="striped">
    <thead>
      <tr>
          <th>Indicação</th>
          <th>Valor</th>
          <th>Estatus</th>
          {% if user.is_superuser %}
          <th>Dono</th>
          {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for indicacao in indicacoes %}
      <tr>
        <td>{{ indicacao.cliente }}</td>
        <td>{{ indicacao.valor }}</td>
        <td>{{ indicacao.status }}</td>
        {% if user.is_superuser %}
        <td>{{ indicacao.added_by }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}
