{% extends "base_generic.html" %}
{% load static %}

{% block breadcrumb %}
    <nav class="cc-breadcrumb">
    <div class="container">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'lista_indicacoes' %}" class="breadcrumb">Indicações</a>
        <a href="{% url 'adiciona_indicacao' %}" class="breadcrumb">Nova</a>
      </div>
    </div>
    </div>
  </nav>
{% endblock %}

{% block content %}

{% if form.errors %}
    {{ cliente.errors }}
    {{ descricao.errors }}
{% endif %}


<form class="col s12" method="post" action="{% url 'adiciona_indicacao' %}">
{% csrf_token %}

<div class="row">
    <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">account_circle</i>
        {{ form.cliente }}
        {{ form.cliente.label_tag }}
    </div>
    <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">email</i>
        {{ form.email }}
        {{ form.email.label_tag }}
{#        <input id="icon_email" type="email" class="validate">#}
{#        <label for="icon_telephone">Telefone</label>#}
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">account_circle</i>
        {{ form.telefone }}
        {{ form.telefone.label_tag }}
    </div>
    <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">phone</i>
        {{ form.celular }}
        {{ form.celular.label_tag }}
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
{#        {{ form.descricao }}#}
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="id_descricao" name="descricao" class="materialize-textarea"></textarea>
        {{ form.descricao.label_tag }}
    </div>
</div>
<div class="row">
    <input type="hidden" name="added_by" value="{{ request.user }}" />
    <input type="hidden" name="status" value="indicacao.status" />
</div>
<div>
    {#  <input type="submit" value="login" class="btn waves-effect waves-light right" />#}
    <button class="btn waves-effect waves-light right" type="submit" value="adiciona_indicacao" name="adiciona_indicacao">
        Salvar <i class="material-icons right">send</i>
    </button>
</div>
</form>

    {% block extrascripts %}
        <script src="{% static "js/jquery.mask.js" %}"></script>
        <script type="text/javascript">
            var maskBehavior = function (val) {
              return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            options = {onKeyPress: function(val, e, field, options) {
                    field.mask(maskBehavior.apply({}, arguments), options);
                }
            };

            $('.phone').mask(maskBehavior, options);
        </script>
    {% endblock %}

{% endblock %}